{
    "openapi": "3.0.0",
    "info": {
        "title": "Contiguity OTP API",
        "description": "API documentation for using Contiguity's OTP API. Send one-time codes in 33 different languages at no additional charge (text message still billed/added to quota). OTPs expire after 15 minutes and are invalidated upon successful verification.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.contiguity.co"
        }
    ],
    "paths": {
        "/otp/new": {
            "post": {
                "summary": "Send OTP",
                "description": "Generate and send a one-time password via SMS.",
                "operationId": "sendOTP",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "to",
                                    "language"
                                ],
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "Recipient's phone number",
                                        "example": "+1234567890"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Language for OTP message",
                                        "example": "en",
                                        "enum": ["en", "af", "ar", "ca", "zh", "zh-hk", "hr", "cs", "da", "nl", "fi", "fr", "de", "el", "he", "hi", "hu", "id", "it", "ja", "ko", "ms", "nb", "pl", "pt-br", "pt", "ro", "ru", "es", "sv", "tl", "th", "tr", "vi"]
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Your app's name (customizes message to 'Your [name] code is...')",
                                        "example": "Contiguity"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent successfully"
                                        },
                                        "crumbs": {
                                            "type": "object",
                                            "properties": {
                                                "plan": {
                                                    "type": "string",
                                                    "example": "free"
                                                },
                                                "quota": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "example": "sms"
                                                },
                                                "ad": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            }
                                        },
                                        "otp_id": {
                                            "type": "string",
                                            "description": "ID of the generated OTP",
                                            "example": "abc123xyz"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing parameters"
                    },
                    "401": {
                        "description": "Invalid or suspended token"
                    },
                    "500": {
                        "description": "Sending failed or internal errors occurred"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/otp/verify": {
            "post": {
                "summary": "Verify OTP",
                "description": "Verify a previously sent one-time password..",
                "operationId": "verifyOTP",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "otp_id",
                                    "otp"
                                ],
                                "properties": {
                                    "otp_id": {
                                        "type": "string",
                                        "description": "ID of the OTP",
                                        "example": "abc123xyz"
                                    },
                                    "otp": {
                                        "oneOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "integer"
                                            }
                                        ],
                                        "description": "OTP to verify",
                                        "example": "123456"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verification result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP Verified"
                                        },
                                        "verified": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing parameters"
                    },
                    "401": {
                        "description": "Invalid or suspended token"
                    },
                    "500": {
                        "description": "Verifying failed or internal errors occurred"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/otp/resend": {
            "post": {
                "summary": "Resend OTP",
                "description": "Resend a previously generated one-time password.",
                "operationId": "resendOTP",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "otp_id"
                                ],
                                "properties": {
                                    "otp_id": {
                                        "type": "string",
                                        "description": "ID of the OTP to be resent",
                                        "example": "abc123xyz"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP resent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP resent successfully."
                                        },
                                        "resent": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing parameters"
                    },
                    "401": {
                        "description": "Invalid or suspended token"
                    },
                    "500": {
                        "description": "Sending failed or internal errors occurred"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Authentication using a Bearer Token. Specify `Authorization: Token YOUR_TOKEN`. `Bearer` is allowed."
            }
        }
    }
}
