{
    "openapi": "3.0.0",
    "info": {
        "title": "Contiguity Enterprise Node Availability API",
        "description": "API documentation for fetching the availability status of Contiguity Enterprise nodes.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.contiguity.co"
        }
    ],
    "paths": {
        "/enterprise/availability/sms": {
            "get": {
                "summary": "Fetch Enterprise Node Availability",
                "description": "Retrieve the availability status and health of Contiguity Enterprise nodes tied to your account.",
                "operationId": "getEnterpriseNodeAvailability",
                "responses": {
                    "200": {
                        "description": "Contiguity Enterprise Node Availability fetched.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Contiguity Enterprise Node Availability fetched."
                                        },
                                        "crumbs": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "phoneNumber": {
                                                        "type": "string",
                                                        "example": "xxxx"
                                                    },
                                                    "available": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "health": {
                                                        "type": "string",
                                                        "example": "good"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid or suspended token"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Authentication using a Bearer Token. Specify `Authorization: Token YOUR_TOKEN`. `Bearer` is allowed."
            }
        }
    }
}
